body {
    background-color: #030410;
    color: #ffffff;
}
 
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem 1rem 2rem;
    margin: 0 3rem 0 7rem;
}
    
.logo {
    font-size: 1.2rem;
    font-weight: bold;
}
    
.nav-links {
    display: flex;
    gap: 4.5rem;
    list-style: none;
}
    
.nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
    
.nav-links a:hover {
    color: #e66a4d;
}