.recipe-page {
  font-family: "Outfit", sans-serif; 
  color: #ffffff; 
  padding: 2rem;
  margin-left: 3rem;
}

.recipe-header {
  display: flex; 
  justify-content: flex-start; 
  align-items: center; 
  margin-bottom: 3rem; 
  position: relative;
}

.recipe-info {
  z-index: 1; 
}

.recipe-special {
  font-size: 1rem; 
  color: #ff7a59; 
  text-transform: uppercase;
  margin-bottom: 0.5rem; 
}

.recipe-title {
  font-size: 2.8rem;
  font-weight: bold; 
  margin-bottom: 1rem; 
}

.recipe-description {
  font-size: 1.2rem; 
  line-height: 1.6; 
  margin-bottom: 2rem; 
  color: #9e9696; 
}

.recipePage-image {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  z-index: 1; 
  top: 5vh;
  left: 70vw;
  position: absolute;
}

.recipePage-image img {
  width: 19vw;
  height: auto; 

}

.recipe-header::before {
  content: ""; /* Cria um elemento vazio para o fundo */
  position: absolute; 
  top: -50px; 
  right: -100px; 
  width: 300px; 
  height: 300px; 
  background-color: #ffcc70; 
  border-radius: 50%; 
  z-index: 0; 
  opacity: 0.5; 
}

.recipe-header::after {
  content: ""; 
  position: absolute; 
  bottom: -50px;
  left: -50px; 
  width: 200px;
  height: 200px; 
  background-color: #ff7a59; 
  border-radius: 50%;
  z-index: 0; 
  opacity: 0.5; 
}


.recipe-steps h2 {
  font-size: 1.8rem; 
  margin-bottom: 1rem; 
}

.recipe-steps ul {
  list-style: none; 
  counter-reset: step-counter; 
}

.recipe-steps li {
  counter-increment: step-counter; 
  margin-bottom: 1rem; 
  font-size: 1.1rem;
  line-height: 1.6;
  display: flex; 
  align-items: flex-start; 
}

.recipe-steps li::before {
  content: counter(step-counter); 
  background: #ff7a59; 
  color: #ffffff; 
  font-weight: bold; 
  width: 30px;
  height: 30px;
  border-radius: 50%; 
  display: flex; 
  align-items: center; 
  justify-content: center;
  margin-right: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4); 
}
